.MySwapsContainer {
    margin-top: 20px
}

.MySwapsHeader {
    color: white;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
}

.MySwapsTable {
    table-layout: auto !important;
    border-color: rgb(228, 200, 42);
}

.MySwapsCard {
    background-color: rgb(255, 255, 255);
}

.MyPagination {
    display: flex;
    justify-content: right;
    background-color: transparent !important;
}

.CounterPartyAddress {
    color: rgb(0, 45, 128);
}

.div {
    justify-content: left;
}

.TableButtons {
    vertical-align: middle;
    width: 100%;
    margin-bottom: 5%;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.TableValuesNotButtons {
    vertical-align: middle;
}